Repository voxpupuli/puppet-mumble, pull requests merged in 2019-10, with the labels that each got.

#53 fix mumble_set_password (idempotency and returns)(Closes: #52)
  manifests/init.pp
Labels: bug

#56 enable acceptance tests
  .sync.yml
  .travis.yml
  spec/acceptance/mumble_spec.rb
  spec/spec_helper_acceptance.rb
Labels: skip-changelog

#54 metadata: bump ubuntu and debian support to latest version (refs: #36)
  .sync.yml
  .travis.yml
  metadata.json
Labels: needs-feedback
