Repository voxpupuli/puppet-mumble, pull requests merged in 2021-09, with the labels that each got.

#68 Add support for Debian 11 and Ubuntu 20.04
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
  metadata.json
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: enhancement

#69 Update from voxpupuli modulesync_config
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#73 Release 4.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#74 modulesync 4.2.0
  .github/workflows/ci.yml
Labels: modulesync
